/*Body - Contacto*/
.body-contacto{
    @include flex-1;
}

.contacto-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    .contacto-form{
        color: $color-texto;
        margin-top: 0.5rem;
        text-align: center;
        fieldset{
            legend{
                font-size: $titulo-principal;
                font-weight: bold;
            }
            .contacto-info{
                font-size: $parrafo;
                margin: 0.5rem 0rem;
                input{
                    font-size: $parrafo;
                    margin: 0.5rem 0rem;
                    width: 100%;
                    padding-left: 0.25rem;
                }
            }
            .contacto-comentario{
                textarea{
                    padding-bottom: 5rem;
                    padding-left: 0.25rem;
                    resize: none;                    
                }
            }
            .contacto-info-botones{
                input{
                    font-size: $parrafo;
                    margin: 0.5rem;
                    width: 7.5rem;
                    border-radius: 1.5rem;
                }
            }
        }
    }
    img{
        width: 80%;
        margin: auto;
        display: block;
        padding: 0.5rem;
    }
}

/*Media queries - Contacto*/
@media screen and (min-width:768px){
    .contacto-main{
        display: grid;
        padding: 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        .contacto-form{
            fieldset{
                legend{
                    font-size: $titulo-principal-tablet;
                }
                .contacto-info{
                    font-size: $parrafo-tablet;
                    input{
                        font-size: $parrafo-tablet;
                        margin: 0.75rem 0rem;
                        max-width: 20rem;
                        padding-left: 0.25rem;
                    }
                }
                .contacto-info-botones{
                    input{
                        font-size: $parrafo-tablet;
                        margin: 0.75rem 0rem;
                        margin: 1rem;
                        width: 7.5rem;
                        border-radius: 1.5rem;
                    }
                    
                }
            }
        }
        img{
            width: 100%;
            
        }
    }
}
@media screen and (min-width:1024px){
    .contacto-main{
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        .contacto-form{
            fieldset{
                legend{
                    font-size: $titulo-principal-desktop;
                }
                .contacto-info{
                    font-size: $parrafo-desktop;
                    input{
                        font-size: $parrafo-desktop;
                        margin: 0.75rem 0rem;
                        max-width: 24rem;
                        padding-left: 0.5rem;
                    }
                }
                .contacto-info-botones{
                    input{
                        font-size: $parrafo-desktop;
                        margin: 0.75rem 0rem;
                        margin: 1rem;
                        width: 10rem;
                        border-radius: 1.5rem;
                    }
                    
                }
            }
        }
    }
}
