/*Body - Sobre Mi*/
body{
    .body-sobre-mi{
        @include flex-1;
    }
}

.sobre-mi-main{
    @extend %margin-mobile;
    div{
        color: $color-texto;
        h1{
            @extend %titulos;
        }
        p{
            @extend %parrafos;
            a{
                text-decoration-line: none;
                color: $color-texto;
                font-weight: bolder;
                &:hover{
                    color: $color-fondo-secundario;
                    transition: 0.2s;
                }
            }
        }
        img{
            width: 95%;
            margin: auto;
            display: block;
            margin-top: 0.5rem;
        }
    }
}

/*Media Queries - Sobre-mi*/
@media screen and (min-width: 768px){
    .sobre-mi-main{
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "h1 img"
            "texto img";
        div{
            color: $color-texto;
            h1{
                grid-area: h1;
                font-size: $titulo-principal-tablet;
                
            }
            p{
                grid-area: texto;
                font-size: $parrafo-tablet;
                text-align: left;
                margin-left: 0;  
            }
            img{
                grid-area: img;
            }
        }
    }
}

@media screen and (min-width:1024px){
    .sobre-mi-main{
        grid-template-columns: 5fr 3fr;
        div{
            h1{
                font-size: $titulo-principal-desktop;    
            }
            p{
                font-size: $parrafo-desktop;    
            }
        }
    }
}

