/*Body - Viajes*/
.viajes-main{
    margin: 0rem 1rem;
    div{
        color: $color-texto;
        h1{
            @extend %titulos;
        }
        p{
            @extend %parrafos;
            
        }
        .carousel-viajes{
            margin-bottom: 0.5rem;
        }
    }
    .fotos-aus{
        div{
            h2{
                @extend %titulos-con-fondo;
            }
        }
        .galeria-1-viajes{
            img{
                @include img;
                margin-bottom: 0.5rem;
            }
        }
        
    } 
}

/*Media Queries - Viajes*/
@media screen and (min-width:768px){    
    .viajes-main {
        padding-top: 0.5rem;
        .viaje-australia{
            color: $color-texto;
            display: grid;
            gap: 0.5rem;
            align-items: center;
            align-content: center;
            grid-template-columns: 1.1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "texto carousel"
                "texto carousel";
            .australia-texto{
                grid-area: texto;
                h1{
                    font-size: $titulo-principal-tablet;
                }
                p{
                    font-size: $parrafo-tablet;
                    text-align: left;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            .carousel-viajes{
                grid-area: carousel;
                margin: auto;
                padding-right: 0.5rem;
            }
        }
        .fotos-aus{
            div{
                h2{
                    background-color: $color-fondo-secundario;
                    font-size: $titulo-principal-tablet;
                    text-align: center;
                    margin-right: 0.5rem;
                    padding: 2rem 0rem;
                    font-weight: bold;
                }
            }
            .galeria-1-viajes{
                @include grid-galeria;
                img{
                    @include img;
                }
            }
        }
    }
}
@media screen and (min-width:1024px){    
    .viajes-main {
        .viaje-australia{
            .australia-texto{
                h1{
                    font-size: $titulo-principal-desktop;
                }
                p{
                    font-size: $parrafo-desktop;
                }
            }
        }
        .fotos-aus{
            div{
                h2{
                    font-size: $titulo-principal-desktop;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}
