//VARIABLES
//Colores
$color-fondo-primario: rgb(30, 45, 64);
$color-fondo-secundario:  rgba(85, 103, 115, 0.7);
$color-texto:rgb(191, 191, 184);

//Medidas-mobile
$ancho-redes: 1.5rem;
$titulo-principal: 1rem;
$parrafo: 0.75rem;
$texto-footer: 0.5rem;

//Medidas-desktop
$ancho-redes-desktop: 2rem;
$titulo-principal-desktop: 1.25rem;
$parrafo-desktop: 1rem;
$texto-footer-desktop: 0.75rem;